@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar-sidebar {
    display: hidden;
    position: fixed;
    left: -100%;
    top: 90px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#navbar-sidebar.active {
    position: absolute;
    left: 0%;
    top: 90px;
    opacity: 100;
    margin-right: 5px;
    z-index: 100;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#checkRoomNav {
    display: hidden;
    position: fixed;
    top: -100%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#checkRoomNav.active {
    margin: auto;
    top: 90px;
    opacity: 100;
    margin-right: 5px;
    z-index: 200;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#navbar_dropdown {
    position: absolute;
    display: hidden;
    right: -100%;
    opacity: 0;
    position: fixed;
    top: 20%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}


#navbar_dropdown.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0%;
    top: 75px;
    opacity: 100;
    margin-right: 5px;
    z-index: 70;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


#login-form {
    display: hidden;
    right: -100%;
    position: fixed;
}

#login-form.active {
    display: block;
    position: fixed;
    right: 20px;
    top: 70px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#register-form {
    display: hidden;
    position: fixed;
    transition: 0.2s;
    left: -100%;
    top: 70px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

#register-form.active {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
